<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- <link rel="stylesheet" href="css/home.css"> -->
	<link rel="stylesheet" href="css/blog.css">
	<link rel="stylesheet" href="css/inventory.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	
	<title>Blog</title>	
</head>
<body>
	<div id = "blog">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
				<a class="navbar-brand" href="home.html"><img src="css/icon1.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
					aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-togger-icon"></span></button>
				<div class="collapse navbar-collapse" id="collapsibleNavId">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="inventory.html">Inventory</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About Us</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
							<div class="dropdown-menu" aria-labelledby="dropdownId">
								<a class="dropdown-item" href="#">Sign in</a>
								<a class="dropdown-item" href="#">Sign up</a>
							</div>
						</li>
					</ul>
				</div>
		</nav>
		
		<!--Banner-->
		<div class = "jumbotron jumboImg jumbotron-fluid text-white text-center">
			<div class = "container" style="padding-top: 100px;">		
				<h1 class = "display-1"> BLOG </h1> 
				<p class = "lead"> BLOG DESCRIPTION </p>
				
			</div>
		</div>
		
		<!--Featured article-->
		<div class="card">
			<div class="row pt-4 pb-4 justify-content-center">
				<div class="col-7">
					<a href = "demoblog.html">
					<img src="assets/img/gondola/gondola t90 cropped.jpg" class="w-100">
					</a>
				</div>
				
				<div class="col-3">
					<div class="card-block">
						<h4 class="card-title"> <a href = "demoblog.html"> Gondola was not a mistake.  </a> </h4>
						<p class="card-text"> Gondolas are relaxed, harmless creatures that observe their environment. They rarely interfere anything, but just keep observing. They rarely talk, just look around and smile. This makes them very different from other creatures such as spurdo, that feel, pepe, yoba, etc. Gondola is the silent walker. Having no hands he embodies the Taoist principle of wu-wei (non-action) while his smiling facial expression shows his utter and complete acceptance of the world as it is.
						</p>
					</div>
				</div>

			</div>
		</div>
		<br>
		
		<!--Other articles-->
		<div class="container-fluid">
			<div class = "row justify-content-center">
				<div class = "col-4">
					<div class = "card h-100">
						<a href = "demoblog.html">
						<img src="assets/img/gondola/gondola coffee.jpg" class="card-img-top img-fluid h-75">
						</a>
						<div class = "card-block">
							<a href = "demoblog.html">
							<h5 class="card-title">Gondola Explained.</h5>
							<h6 class="card-title">By Anon</h6>
							</a>
							<p> Gondola is the perfect metaphor, in many ways, to our own situation. He appears in various places, all over the world, all throughout time, with no effort at all. Incredible right? Just like us, really; with the click of a button, we can view any piece of art, any historical event, in the blink of an eye.
							</p>
						</div>	
					</div>
				</div>
				
				<div class = "col-4">
					<div class = "card h-100">
						<a href = "demoblog.html">
						<img src="assets/img/gondola/gondola bar.jpg" class="card-img-top img-fluid h-75">
						</a>
						<div class = "card-block">
							<a href = "demoblog.html">
							<h5 class="card-title">Gondola Explained.</h5>
							<h6 class="card-title">By Anon</h6>
							</a>
							<p> Gondola is the perfect metaphor, in many ways, to our own situation. He appears in various places, all over the world, all throughout time, with no effort at all. Incredible right? Just like us, really; with the click of a button, we can view any piece of art, any historical event, in the blink of an eye.
							</p>
						</div>	
					</div>
				</div>
				
				<div class = "col-4">
					<div class = "card h-100">
						<a href = "demoblog.html">
						<img src="assets/img/gondola/gondola winter park.jpg" class="card-img-top img-fluid h-75">
						</a>
						<div class = "card-block">
							<a href = "demoblog.html">
							<h5 class="card-title">Gondola Explained.</h5>
							<h6 class="card-title">By Anon</h6>
							</a>
							<p> Gondola is the perfect metaphor, in many ways, to our own situation. He appears in various places, all over the world, all throughout time, with no effort at all. Incredible right? Just like us, really; with the click of a button, we can view any piece of art, any historical event, in the blink of an eye. 
							</p>
						</div>	
					</div>
				</div>
				
			</div>
		</div>
		<br>
		
		<!--Footer-->
        <div class="footer">
            <div class="content">
                <div id="footer-1" style="display: flex; align-items: center; justify-content: center;">
                    <a href="home.html" style="padding-top: 8px;"><img src="css/icon1.png" alt="" height="70px"></a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a href="">Inventory</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Log in</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Contact us</p>
                        <div class="row">
                            <div class="col-md-3"><i class="fa fa-footer fa-facebook-square fa-2x" aria-hidden="true"></i></div>
                            <div class="col-md-3"><i class="fa fa-footer fa-instagram fa-2x" aria-hidden="true"></i></div>
                            <div class="col-md-3"><i class="fa fa-footer fa-youtube-play fa-2x" aria-hidden="true"></i></div>
                            <div class="col-md-3"><i class="fa fa-footer fa-tumblr fa-2x" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Leave your email here for more infomation:</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="email" class="form-control input-area" name="" id="" aria-describedby="emailHelpId" placeholder="Your email ...">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary">Send me</button>
                                </div>
                            </div>
                          
                          
                          
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-last">
                    <p>Database project lab</p>
                    <p>Hanoi University of Science and Technology</p>
                    <p>Empowered by us</p>
                </div>
            </div>
            
        </div>
        <!--End footer-->
		
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
