<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/home.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div id="home">
        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="home.html"><img src="css/icon1.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-togger-icon"></span></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inventory.html">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Sign in</a>
                            <a class="dropdown-item" href="#">Sign up</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navigation menu end-->
        <!-- First block background-->
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner">

                </div>
            </div>
        </div>
        <!-- First block background end-->
        <!-- First block -->
        <div class="caption text-center" id="first-block">
            <h1>Welcome to our page</h1>
            <h3>Our inventory for donate</h3>
            <a class="btn btn-outline-light btn-lg btn-donate" href="">Donate now!</a>
        </div>

        <div class="block2-1">
            <h1>Featured Donator</h1>
            <div class="container-fluid">
        		<div id="carousel-example" class="carousel slide" data-ride="carousel">
        			<div class="carousel-inner row w-100 mx-auto" role="listbox">
            			<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
							<img src="assets/img/backgrounds/1.jpg" class="img-fluid mx-auto d-block" alt="img1">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/2.jpg" class="img-fluid mx-auto d-block" alt="img2">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/3.jpg" class="img-fluid mx-auto d-block" alt="img3">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/4.jpg" class="img-fluid mx-auto d-block" alt="img4">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/5.jpg" class="img-fluid mx-auto d-block" alt="img5">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/6.jpg" class="img-fluid mx-auto d-block" alt="img6">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/7.jpg" class="img-fluid mx-auto d-block" alt="img7">
						</div>
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
							<img src="assets/img/backgrounds/8.jpg" class="img-fluid mx-auto d-block" alt="img8">
						</div>
        			</div>
        			<a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
        		</div>
        	</div>
            
        </div>
        <!-- First block end -->
        <!--Second block-->
        <div id="features" class="offset">
            <div class="content">
                <div class="fixed-background">
                    <div class="row dark text-center featured-index">
                        <div class="col-12">
                            <h1>What we have done for the community</h1>
                            <div class="heading-underline"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature">
                                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                                <h2>150++</h2>
                                <h3>Stationary</h3>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="feature">
                                <i class="fa fa-calculator fa-4x" aria-hidden="true"></i>
                                <h2>100++</h2>
                                <h3>Electronics</h3>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="feature">
                                <i class="fa fa-pencil fa-4x" aria-hidden="true"></i>
                                <h2>10+</h2>
                                <h3>Expertiser</h3>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="feature">
                                <i class="fa fa-bicycle fa-4x" aria-hidden="true"></i>
                                <h2>200+</h2>
                                <h3>Transpotation</h3>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="view-archive">
                    <a class="btn btn-outline-light btn-lg btn-archive" href="inventory.html">Visit our inventory</a>
                </div>
            </div>
            
        </div>
        <!--Second block end-->

        <!--Third block-->
        <div class="third-block">
            <div class="content">
                <h1>IN THE NEWS</h1>
                <div class="row">
                    <div class="col-md-3 news">
                        <img src="css/1.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>

                    <div class="col-md-3 news">
                        <img src="css/2.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>

                    <div class="col-md-3 news">
                        <img src="css/header.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>

                    <div class="col-md-3 news">
                        <img src="css/2.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>
                    <div class="col-md-3 news">
                        <img src="css/1.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>

                    <div class="col-md-3 news">
                        <img src="css/2.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>

                    <div class="col-md-3 news">
                        <img src="css/header.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>

                    <div class="col-md-3 news">
                        <img src="css/2.jpg" alt="">
                        <h2>Lorem ipsum dolor</h2>
                        <p>This is the shorten content of the news</p>
                        <a class="btn btn-outline-light btn-lg btn-news" href="">Read more</a>
                    </div>
                </div>
                <div class="view-archive">
                    <a class="btn btn-outline-light btn-lg btn-archive" href="">Visit our archive</a>
                </div>
                
            </div>
        </div>
            
        <!--Third block end-->
        <!--Footer-->
        <div class="footer">
            <div class="content">
                <div id="footer-1" style="display: flex; align-items: center; justify-content: center;">
                    <a href="home.html" style="padding-top: 8px;"><img src="css/icon1.png" alt="" height="70px"></a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a href="">Inventory</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Log in</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Contact us</p>
                        <div class="row">
                            <div class="col-md-3"><i class="fa fa-footer fa-facebook-square fa-2x" aria-hidden="true"></i></div>
                            <div class="col-md-3"><i class="fa fa-footer fa-instagram fa-2x" aria-hidden="true"></i></div>
                            <div class="col-md-3"><i class="fa fa-footer fa-youtube-play fa-2x" aria-hidden="true"></i></div>
                            <div class="col-md-3"><i class="fa fa-footer fa-tumblr fa-2x" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Leave your email here for more infomation:</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="email" class="form-control input-area" name="" id="" aria-describedby="emailHelpId" placeholder="Your email ...">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary">Send me</button>
                                </div>
                            </div>
                          
                          
                          
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-last">
                    <p>Database project lab</p>
                    <p>Hanoi University of Science and Technology</p>
                    <p>Empowered by us</p>
                </div>
            </div>
            
        </div>
        <!--End footer-->
    </div>

</body>
</html>      